.items {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    width: 7.6%;
    padding: 5px;
}

.back {

}

.front {

}

.flipped {
    background: red;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}